.main {
    background-color: black;
    background-image: url("../../assets/back.jpg");
    width: 100%;

    background-size: cover;
    min-height: 2000px;
    background-repeat: no-repeat;
    background-position: center;

    color: #E7E7E7;
}
