.footer {
  margin-top: 126px;
  border-top: 1px solid #E7E7E7;
  padding-top: 37px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.footer__logo-block {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  align-items: center;
  gap: 8px;
}
