.main__main-suggest {
    margin-top: 101px;
    display: flex;
    justify-content: space-between;
    padding: 46.71px 49.64px 47.51px 43.69px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    gap: 10px;
  }

  .main-suggest__suggest-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    max-width: 470px;
  }

.suggest-text__buttons{
    display: flex;
    gap: 22px;
}

  .main-suggest__advanteges {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 42px;
    max-width: 460px;


    display: none;
  }
  .advanteges {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }
  .suggest-text__advanteges {
    line-height: 22px;
  }
  
  .button-standart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 10.65px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
  }
  
  .button-black {
    background: #222222 !important;
  }
  .button-white {
    background: #ffffff !important;
    color: #222222 !important;
  }
.main-suggest__laptop {
  /* max-width: 603px; */
 max-width: 576px;
  max-height: 332px;
  align-self: center;
  width: 58%;
}

@media (max-width:1024px) {
  .main__main-suggest {
    margin-top: 101px;
    padding: 26.71px 29.64px 27.51px 23.69px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .main-suggest__laptop {
    width: 100%;
  }
}

/* 
.download {
    margin: 0 140px 0;
    padding: 44px 44px 52px;

    border: 1px solid #E7E7E7;
    border-radius: 4px;

    gap: 40px;

    display: flex;
    flex-direction: column;

    position: relative;
}

.download h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;

    max-width: 469px;
}

.download p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    max-width: 469px;
}

.button-wrapper {
    display: flex;
    gap: 22px;
}

.download::after {
    content: url("../../assets/mac.png");

    position: absolute;

    left: 48.62%;   
    top: -24%;
} */
